on:
  workflow_call:
    inputs:
      foundation:
        required: true
        type: string
      repository:
        required: true
        type: string
      s3_bucket:
        type: string
    secrets:
      AWS_ACCESS_KEY_ID: {}
      AWS_REGION: {}
      AWS_SECRET_ACCESS_KEY: {} 
      CRUNCHBASE_API_KEY: {}
      GH_TOKENS: {}

jobs:
  build-landscape:
    runs-on: ubuntu-latest
    container:
      image: public.ecr.aws/g6m3a0y9/landscape2
      options: --user root
    steps:
      - name: Checkout this repository
        uses: actions/checkout@v3

      - name: Checkout landscape repository
        uses: actions/checkout@v3
        with:
          repository: ${{ inputs.repository }}
          path: "./landscape"
          sparse-checkout: |
            landscape.yml
            hosted_logos

      - name: Install tar in container (needed for the cache)
        run: apk add --update --no-progress tar

      - name: Setup cache
        uses: actions/cache@v3
        with:
          path: /tmp/landscape-cache
          key: landscape-cache-${{ inputs.foundation }}-${ github.sha }}
          restore-keys: |
            landscape-cache-${{ inputs.foundation }}-

      - name: Build landscape
        env:
          GITHUB_TOKENS: ${{ secrets.GH_TOKENS }}
          CRUNCHBASE_API_KEY: ${{ secrets.CRUNCHBASE_API_KEY }}
        run: |
          landscape2 build \
            --settings-file ./${{ inputs.foundation }}/settings.yml \
            --data-file ./landscape/landscape.yml \
            --logos-path ./landscape/hosted_logos \
            --cache-dir /tmp/landscape-cache \
            --output-dir /tmp/

      - name: Deploy landscape
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          landscape2 deploy s3 \
            --bucket ${{ inputs.s3_bucket }} \
            --landscape-dir /tmp/landscape